*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Light theme Color */
body[data-theme="light"]{
    --color-1:rgb(196,220,241);
    --color-2:white;
    --color-3:rgb(200,200,200);
    --color-4:rgb(80,82,110);
}

/* Dark theme Color */
body[data-theme="dark"]{
    --color-1:#1e1f26;
    --color-2:#292c33;
    --color-3:rgb(39,40,42);
    --color-4:rgb(186,186,202);
}
body{
    font-family: Calibri;
    color:var(--color-4);
}
section{
    background-color: var(--color-1);
    min-height:100vh;
}
.container{
    background-color: var(--color-2);
    margin: 0 auto;
    width: 90%;
}
.w-40{
    width: 500px;
}
.btn{
    background-color:var(--color-4) ;
    color: var(--color-2);
}
.theme-switcher{
    position: absolute;
    right:30px;
    top: 10px;

}